.hero {
    height: 75vh;
    background: whitesmoke;
    display: flex;
    background-size: cover;
    border-radius: 50px;
    margin: 4rem 1rem ;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.3);    
  }
  
  .hero-content-container {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
  }
  
  .welcome-container,
  .sales-info-container {
    background: rgba(78, 78, 78, 0.3);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
  }
  
  .welcome-container h2 {
    color: #ffffff79;
    font-size: 1.8rem;
    font-weight: 100;
    opacity: 0;
    animation: fadeInUp 1.3s ease-in-out forwards;
  }
  
  .welcome-container .username-welcome {
    color: #ffffff71;
    font-size: 1.8rem;
    font-weight: 1000;
    opacity: 0;
    animation: fadeInUp 1.6s ease-in-out forwards;
  }
  
  .sales-info-container p ,.p2  {
    color: #ffffff6b;
    font-size: 3.6rem;
    font-weight: 1000;
    margin-bottom: 0.27rem;
    opacity: 0;
    animation: fadeInUp 1.1s ease-in-out forwards;
  }

  .p2 , .p3 {
    color: #ffffff57;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0.27rem;
    opacity: 0;
    animation: fadeInUp .8s ease-in-out forwards;
  }

  .p3
  {
    color: #ffffff5f;
    font-size: 1.2rem;
    font-weight: 300;
    animation: fadeInUp 0.6s ease-in-out forwards;
  }

  
  .sales-info-container .logo2-image {
    width: 202.5px;
    height: 40.5px;
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
  }
  
  .hero-latest-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    margin-top: 2rem;
  }
  
  .hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    width: 297px;
    height: 49.5px;
    border-radius: 67.5px;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.062rem;
    font-weight: 500;
    transition: 0.6s ease;
    cursor: pointer;
    border: none;
    box-shadow: 0.9px 0.9px 81px 0.9px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);

  }
  
  .hero-latest-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #001b3bcf;
    transform: scale(1.1);
  }
  
  .hero-latest-btn .arrow-icon {
    color: rgba(255, 255, 255, 0.85);
    transition: color 1s ease;
  }
  
  .hero-latest-btn:hover .arrow-icon {
    color: #00173187;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(18px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-right {
    animation: fadeInRight .75s ease-in-out;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(500px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }